/target/
!.mvn/wrapper/maven-wrapper.jar
tmp
pom.xml.versionsBackup

data/
.env
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

src/main/resources/application.properties
src/main/resources/application-development.properties
src/main/resources/application-staging.properties
src/main/resources/application-production.properties
upload-temp/

docker-compose.https.yaml
cfg/cluster/

src/main/resources/application-eclipse.properties
src/main/resources/application.properties.eclipse
application.properties.eclipse
mystart-eclipse.sh
docker-compose.eclipse.yaml
cfg/eclipse/
